#sd-vn-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100px;
    min-height: 100px;
    max-height: 90vh;
    max-width: 90vh;
    width: calc((100vw - var(--sheldWidth)) / 2);
    z-index: 2;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    filter: drop-shadow(2px 2px 2px #51515199);
}

#sd-vn-wrapper .sd-vn-sprite {
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

#sd-vn-wrapper .sd-vn-sprite[src=""] {
    visibility: hidden;
}

.sd-vn-dimensions {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.sd-vn-dimensions > div {
    flex: 1;
}

